@{
    ViewBag.Title = "Contact";
}
<div class="content">
    <div class="contact">
        <div class="container">
            <h2>Contactenos</h2>
            <div class="google-map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3687.504459892432!2d-68.9208454!3d-22.4476698!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x96ac09e84a05a5c1%3A0x3f5c19921b14c81b!2sArturo+Prat+1677%2C+Calama%2C+Regi%C3%B3n+de+Antofagasta!5e0!3m2!1ses-419!2scl!4v1459645730199" width="400" height="450" frameborder="0" style="border:0"></iframe>
            </div>
            <div class="contact-grids">
                <div class="col-md-6 contact-left">
                    <p>
                        Envienos un mensaje le responderemos en no más de 24 horas, de Lunes a Viernes, de 09:30 AM a 05:30 PM.
                    </p>
                    <address>
                        <p>Hostal Norte Verde.</p>
                        <p>Arturo Prat 1677,</p>
                        <p>Calama, Provincia de El Loa</p>
                        <p>Telefono : +569 9635 9413</p>
                        <p>E-mail : <a href="mailto:hostalnorteverde@gmail.com">  hostalnorteverde@gmail.com</a></p>
                    </address>
                </div>
                <div class="col-md-6 contact-right">
                    Si desea realizar una reserva, porfavor rellene nuestro formulario de reservas presionando el siguiente boton:
                    <form>

                        <input type="submit" value="Enviar" onclick="location.href='https://docs.google.com/forms/d/16ObhFgtfMzyWCC-subx-GR87XNgZLIra08hJMO0ttCU/prefill';" />
                    </form>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>

    <!-- ************************************ Contacto ******************************************-->
    <div class="touch-section">
        <div class="container">
            <h3>Contactenos</h3>
            <div class="touch-grids">
                <div class="col-md-4 touch-grid">
                    <h4>Reservas</h4>
                    <h5>Recepción</h5>
                    <p>Telefono : +569 9635 9413</p>
                    <p>E-mail : <a href="mailto:hostalnorteverde@gmail.com">  hostalnorteverde@gmail.com</a></p>
                </div>
                <div class="col-md-4 touch-grid">
                    <h4>Dirección</h4>
                    <h5>Casa Matriz</h5>
                    <p>Arturo Prat 1677</p>
                    <p>Calama, Provincia de El Loa</p>
                    <p>Región de Antofagasta.</p>
                    <p>Chile</p>
                </div>
                <div class="col-md-4 touch-grid">
                    <h4>Solicitudes</h4>
                    <h5>Mesón</h5>
                    <p>Telefono : +569 9635 9413</p>
                    <p>E-mail : <a href="mailto:hostalnorteverde@gmail.com">  hostalnorteverde@gmail.com</a></p>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <!-- ************************************ Contacto ******************************************-->
</div> <!--Content-->