@{
    ViewBag.Title = "Home Page";
}

<<div class="content">
    <div class="Welcome-section">
        <div class="container">
            <h2>Bienvenido a Norte Verde</h2>
            <div class="Welcome-grids">

                <div class="col-md-4 welcome-grid">
                    <div class="welcome-grid1">
                        <img src="images/s2.jpg" class="img-responsive" alt="" />
                    </div>
                    <h4>Comodos Espacios</h4>
                    <p>Norte Verde proporciona comodos espacios para sus clientes, comedor restaurant, habitaciones comodas y un grato ambiente familiar donde puede descasar y relajarse.  </p>
                </div>
                <div class="col-md-4 welcome-grid">
                    <div class="welcome-grid1">
                        <img src="images/w1.jpg" class="img-responsive" alt="" />
                    </div>
                    <h4>Desayunos</h4>
                    <p>Norte Verde incluye deliciosos desayunos para sus huespedes.</p>
                </div>

                <div class="col-md-4 welcome-grid">
                    <div class="welcome-grid1">
                        <img src="images/w2.jpg" class="img-responsive" alt="" />
                    </div>
                    <h4>Conectividad</h4>
                    <p>Norte Verde cuenta en sus instalaciones de acceso a Internet wifi y tv cable a su disposicion, para mantenerse al tanto de la actualidad.</p>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <!--****** Bienvenida **********-->
    <!--****** Caracteristicas ********* -->
    <!--
    <div class="features">
            <div class="container">
                <h3>Servicios</h3>
                    <div class="features-grids">
                        <div class="col-md-3 feature-grid">
                        <div class="feature">
                            <div class="feature1">
                                <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                                <h4>scelerisque eget</h4>
                            </div>
                            <div class="feature2">
                                <p>Quisque nulla. Vestibulum libero nisl, porta vel, scelerisque eget, lesuada at, neque. Viv eget nibh. Etam cus. Nulla facilisi. </p>
                            </div>
                        </div>
                        </div>
                        <div class="col-md-3 feature-grid">
                        <div class="feature">
                            <div class="feature1">
                                <span class="glyphicon glyphicon-gift" aria-hidden="true"></span>
                                <h4>scelerisque eget</h4>
                            </div>
                            <div class="feature2">
                                <p>Quisque nulla. Vestibulum libero nisl, porta vel, scelerisque eget, lesuada at, neque. Viv eget nibh. Etam cus. Nulla facilisi. </p>
                            </div>
                        </div>
                        </div>
                        <div class="col-md-3 feature-grid">
                        <div class="feature">
                            <div class="feature1">
                                <span class="glyphicon glyphicon-camera" aria-hidden="true"></span>
                                <h4>scelerisque eget</h4>
                            </div>
                            <div class="feature2">
                                <p>Quisque nulla. Vestibulum libero nisl, porta vel, scelerisque eget, lesuada at, neque. Viv eget nibh. Etam cus. Nulla facilisi. </p>
                            </div>
                        </div>
                        </div>
                        <div class="col-md-3 feature-grid">
                        <div class="feature">
                            <div class="feature1">
                                <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
                                <h4>scelerisque eget</h4>
                            </div>
                            <div class="feature2">
                                <p>Quisque nulla. Vestibulum libero nisl, porta vel, scelerisque eget, lesuada at, neque. Viv eget nibh. Etam cus. Nulla facilisi. </p>
                            </div>
                        </div>
                        </div>
                            <div class="clearfix"></div>
                    </div>
            </div>
        </div>
    -->
    <!-- ******** Caracteristicas ******* -->
    <!-- ********* slider *************** -->
    <div class="slider1">
        <div class="arrival-grids">
            <ul id="flexiselDemo1">
                <li>
                    <a href="rooms.html">
                        <img src="images/r1.jpg" alt="" />
                    </a>
                </li>
                <li>
                    <a href="rooms.html">
                        <img src="images/r2.jpg" alt="" />
                    </a>
                </li>
                <li>
                    <a href="rooms.html">
                        <img src="images/r3.jpg" alt="" />
                    </a>
                </li>
                <li>
                    <a href="rooms.html">
                        <img src="images/r4.jpg" alt="" />
                    </a>
                </li>
            </ul>
            <script type="text/javascript">
     $(window).load(function() {
      $("#flexiselDemo1").flexisel({
        visibleItems: 4,
        animationSpeed: 1000,
        autoPlay: true,
        autoPlaySpeed: 3000,
        pauseOnHover:true,
        enableResponsiveBreakpoints: true,
        responsiveBreakpoints: {
            portrait: {
                changePoint:480,
                visibleItems: 1
            },
            landscape: {
                changePoint:640,
                visibleItems: 2
            },
            tablet: {
                changePoint:768,
                visibleItems: 3
            }
        }
    });
    });
            </script>
            <script type="text/javascript" src="js/jquery.flexisel.js"></script>
        </div>
    </div>
    <!-- ******** slider ************** -->
    <!--*********************************** Valores y referencias **************************************-->
    <div class="most-popular">
        <div class="container">
            <div class="popular-grids">

                <div class="col-md-5 popular-grid">
                    <h3>Información</h3>
                    <ul>
                        <li><a href="#">RESTAURANTES & BARES</a></li>
                        <li><a href="#">AGENCIAS DE TURISMO</a></li>
                        <li><a href="#">HEALTH & FITNESS</a></li>
                        <li><a href="#">HOTEL PHOTOS & VIDEOS</a></li>
                        <li><a href="#">CAR RENTALS</a></li>
                    </ul>
                </div>
                <div class="col-md-7 popular-grid1">
                    <h3>Valores</h3>
                    <p>
                        <b>Hospitalidad:</b><br> Caracterizándonos por el recibimiento afectuoso para los visitantes.<br>
                        <b>Integridad:</b> <br>Brindar el servicio en su totalidad y plenitud.<br>
                        <b>Responsabilidad:</b><br> Velar por el cumplimiento de las obligaciones y cuidado en la atención.<br>
                        <b>Comprensión: </b><br>Ocupados de nuestra capacidad e inteligencia para entender.<br>
                        <b>Familiar: </b><br>Situaciones y momentos cercanos que propician una agradable estancia.
                    </p>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <!--*********************************** Valores y referencias **************************************-->
    <!-- ************************************* Contactenos *****************************************-->
    <div class="touch-section">
        <div class="container">
            <h3>Contactenos</h3>
            <div class="touch-grids">

                <div class="col-md-4 touch-grid">
                    <h4>Reservas</h4>
                    <h5>Recepción</h5>
                    <p>Telefono : +569 9635 9413</p>
                    <p>E-mail : <a href="mailto:hostalnorteverde@gmail.com">  hostalnorteverde@gmail.com</a></p>
                </div>
                <div class="col-md-4 touch-grid">
                    <h4>Dirección</h4>
                    <h5>Casa Matriz</h5>
                    <p>Arturo Prat 1677</p>
                    <p>Calama, Provincia de El Loa</p>
                    <p>Región de Antofagasta.</p>
                    <p>Chile</p>
                </div>
                <div class="col-md-4 touch-grid">
                    <h4>Solicitudes</h4>
                    <h5>Mesón</h5>
                    <p>Telefono : +569 9635 9413</p>
                    <p>E-mail : <a href="mailto:hostalnorteverde@gmail.com">  hostalnorteverde@gmail.com</a></p>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>

</div>