
@{
    ViewBag.Title = "Rooms";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Rooms</h2>

<div class="content">
    <div class="room-section">
        <div class="container">
            <h2>Habitaciones</h2>
            <div class="room-grids">
                <div class="room1">
                    <div class="col-md-5 room-grid">
                        <a href="#" class="mask">
                            <img src="images/simple.jpg" class=" mask img-responsive zoom-img" alt="" />
                        </a>
                    </div>
                    <div class="col-md-7 room-grid1">
                        <h4>Habitaciones singles </h4>
                        <p>Acogedora y confortable habitación, es el alojamiento perfecto para personas en viaje de negocios, equipadas con conexión gratuita a internet y TV LCD de pantalla plana. La habitación individual pone a su disposición una cama de una plaza, baño individual, mueble para utilizar de guardar equipaje y escritorio con su correspondiente silla. </p>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="room2">
                    <div class="col-md-5 room-grid">
                        <a href="#" class="mask">
                            <img src="images/doble2.jpg" class="img-responsive zoom-img" alt="" />
                        </a>
                    </div>
                    <div class="col-md-7 room-grid1">
                        <h4> Habitaciones dobles </h4>
                        <p>Amuebladas con elegancia y gusto, las habitaciones están equipadas con todas las comodidades: conexión inalámbrica a internet gratuita, TV LCD pantalla plana, muebles oportunos, además del espacio necesario. La habitación doble consta de dos camas de plaza, escritorio y su correspondiente baño. </p>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="room3">
                    <div class="col-md-5 room-grid">
                        <a href="#" class="mask">
                            <img src="images/matri2.jpg" class="img-responsive zoom-img" alt="" />
                        </a>
                    </div>
                    <div class="col-md-7 room-grid1">
                        <h4>Habitaciones matrimoniales </h4>
                        <p>En un ambiente atractivo y de relajación amuebladas al estilo clásico las habitaciones matrimonial a diferencia de las otras dispone de cama de dos plazas, todas ponen a disposición TV cable, LCD pantalla plana y conexión internet con red WI-FI gratuita. Se facilita a cada pasajero, toalla y utensilios básicos de baño.</p>
                    </div>
                    <div class="clearfix"></div>
                </div>

                <div class="clearfix"></div>
            </div>
        </div>
    </div>
